/* ================= */
/* GLOBAL */
/* ================= */

body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#050505;
color:white;
}

h2{
color:#00ff88;
text-align:left;
margin:30px 0 10px 0;
}

/* ================= */
/* NAVBAR */
/* ================= */

nav{
background:#000;
padding:15px 30px;
border-bottom:1px solid #222;
}

nav a{
color:#00ff88;
margin-right:20px;
text-decoration:none;
font-weight:600;
}

nav a:hover{
color:white;
}

/* ================= */
/* SECTION */
/* ================= */

section{
padding:40px 20px;
max-width:1200px;
margin:auto;
}

/* ================= */
/* CARDS LAYOUT */
/* ================= */

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

/* ================= */
/* CARD */
/* ================= */

.card{
background:#111;
border-radius:10px;
padding:15px;
border:1px solid #222;

height:340px;

display:flex;
flex-direction:column;
justify-content:space-between;

transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 8px 20px rgba(0,255,120,0.2);
}

/* ================= */
/* IMAGE */
/* ================= */

.card img{
width:100%;
height:140px;
object-fit:cover;
border-radius:8px;
}

/* ================= */
/* BUTTON */
/* ================= */

.glow-btn{
background:#00ff88;
color:black;
padding:8px 15px;
border-radius:5px;
font-weight:600;
text-align:center;
display:inline-block;
}

.glow-btn:hover{
background:#00cc66;
}

/* ================= */
/* CONTENT STRUCTURE */
/* ================= */

section{
max-width:900px;
margin:auto;
padding:40px 20px;
}

/* headings */

h1{
text-align:center;
margin-bottom:20px;
}

h2{
color:#00ff88;
text-align:left;
margin:30px 0 10px 0;
}

h3{
margin-top:20px;
margin-bottom:10px;
}

/* paragraphs */

p{
line-height:1.7;
margin-bottom:15px;
color:#ccc;
}

/* lists */

ul{
margin-left:20px;
margin-bottom:20px;
}

ul li{
margin-bottom:8px;
}

/* spacing between sections */

hr{
border:1px solid #222;
margin:30px 0;
}


.hero{
text-align:center;   /* centers everything */
padding:80px 20px;

background:
linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url("/static/images/backgroundofHOMEPAGEoffitnessguide.jpeg");

background-size:cover;
background-position:center;
}

.hero h1{
color:#00ff88;   /* green */
text-align:center;
}

.hero p{
color:#00ff88;   /* same green */
text-align:center;
font-size:18px;
margin:10px 0;
}